<nz-table #basicTable [nzData]="Employees">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Date</th>
      <th>Phone Number</th>
      <th>Skills</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of Employees">
      <td>{{ employee.name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.date | date: "mediumDate" }}</td>
      <td>{{ employee.number }}</td>
      <td>{{ employee.skills }}</td>
      <td>
        <button
          nz-button
          title="Edit"
          nzType="primary"
          [nzSize]="size"
          (click)="editEmployee(employee.id)"
        >
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
        <button
          nz-button
          title="Delete"
          nzType="danger"
          [nzSize]="size"
          (click)="deleteEmployee(employee.id)"
        >
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
